# **Evolución de la dosis diaria recetada de antidepresivos por cada 1000 habitantes**

#### **Obtención y transformación de datos**

In [4]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\beama\anaconda3\envs\ramp_up\lib\site-packages (3.1.1)
Requirement already satisfied: et-xmlfile in c:\users\beama\anaconda3\envs\ramp_up\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [6]:
"""En primer lugar, abrimos el archivo excel descargado de la página web Statista
https://es.statista.com/estadisticas/544028/dosis-diaria-definida-de-antidepresivos-en-espana/?locale=es"""

antidepresivos = pd.read_excel("antidepresivos.xlsx")

"""En segundo lugar, renombramos la columna Unnamed 1 donde aparece la dosis diaria recetada de antidepresivos
por la palabra Dosis diaria para identificar el concepto objeto de estudio."""

antidepresivos = antidepresivos.rename(columns= {"Unnamed: 1" : "Dosis diaria"})

"""En tercer lugar, creamos y aplicamos un filtro en el que la condición del año fuera superior a 2011, ya que los datos de mortalidad
con los que contamos son a partir de 2012."""

antidepresivos = antidepresivos[antidepresivos["Año"] > 2011]

"""En cuarto lugar, añadimos una columna nueva llamada Incremento para reflejar el incremento porcentual respecto al año anterior."""

antidepresivos['Incremento'] = antidepresivos['Dosis diaria'].pct_change()*100

"""Por último, utilizamos el método describe para obtener las variables estadísticas."""

estadísticas_AD = antidepresivos['Dosis diaria'].describe()
estadísticas_AD2 = antidepresivos['Incremento'].describe()

#### **Comprobaciones realizadas**

1) Lectura del archivo xlsx

In [7]:
antidepresivos = pd.read_excel("antidepresivos.xlsx")
antidepresivos

     Año  Unnamed: 1
0   2004        44.1
1   2005        45.0
2   2006        49.2
3   2007        52.1
4   2008        55.0
5   2009        57.7
6   2010        61.2
7   2011        63.9
8   2012        64.0
9   2013        65.2
10  2014        71.3
11  2015        73.1
12  2016        75.5
13  2017        77.2
14  2018        80.4
15  2019        83.6
16  2020        86.2

2) Renombre de columnas

In [8]:
antidepresivos = antidepresivos.rename(columns= {"Unnamed: 1" : "Dosis diaria"})
antidepresivos

     Año  Dosis diaria
0   2004          44.1
1   2005          45.0
2   2006          49.2
3   2007          52.1
4   2008          55.0
5   2009          57.7
6   2010          61.2
7   2011          63.9
8   2012          64.0
9   2013          65.2
10  2014          71.3
11  2015          73.1
12  2016          75.5
13  2017          77.2
14  2018          80.4
15  2019          83.6
16  2020          86.2

3) Creación y aplicación del filtro que contabilice la dosis recetada a partir del año 2021

In [9]:
antidepresivos = antidepresivos[antidepresivos["Año"] > 2011]
antidepresivos

     Año  Dosis diaria
8   2012          64.0
9   2013          65.2
10  2014          71.3
11  2015          73.1
12  2016          75.5
13  2017          77.2
14  2018          80.4
15  2019          83.6
16  2020          86.2

4) Cálculo porcentaje de crecimiento anual

In [10]:
antidepresivos['Incremento'] = antidepresivos['Dosis diaria'].pct_change()*100
antidepresivos

C:\Users\beama\AppData\Local\Temp\ipykernel_11528\2656645660.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  antidepresivos['Incremento'] = antidepresivos['Dosis diaria'].pct_change()*100

     Año  Dosis diaria  Incremento
8   2012          64.0         NaN
9   2013          65.2    1.875000
10  2014          71.3    9.355828
11  2015          73.1    2.524544
12  2016          75.5    3.283174
13  2017          77.2    2.251656
14  2018          80.4    4.145078
15  2019          83.6    3.980100
16  2020          86.2    3.110048

5. Cálculos estadísticos

In [11]:
estadísticas_AD = antidepresivos['Dosis diaria'].describe()
estadísticas_AD

count     9.000000
mean     75.166667
std       7.646404
min      64.000000
25%      71.300000
50%      75.500000
75%      80.400000
max      86.200000
Name: Dosis diaria, dtype: float64

In [12]:
estadísticas_AD2 = antidepresivos['Incremento'].describe()
estadísticas_AD2

count    8.000000
mean     3.815678
std      2.375160
min      1.875000
25%      2.456322
50%      3.196611
75%      4.021344
max      9.355828
Name: Incremento, dtype: float64

# **Evolución de peticiones de ayuda solicitada por teléfono de menores con intenciones suicidas**

#### **Obtención y transformación de datos**

In [13]:
"""En primer lugar, abrimos el archivo excel descargado de la página web EPData
https://www.epdata.es/peticiones-ayuda-telefono-anar-ideacion-suicida-intentos-suicidio-menores-edad/162bc67b-046a-4fd9-9dd4-51af122bf7e5"""

peticion_ayuda = pd.read_excel('peticiones_de_ayuda_al_telefono_de_anar_sobre_ideacion_suicida_e_intentos_de_suicidio_en_menores_de_edad.xlsx')

"""En segundo lugar, creamos y aplicamos un filtro en el que la condición del año fuera superior a 2011, ya que los datos de mortalidad
con los que contamos son a partir de 2012."""

peticion_ayuda = peticion_ayuda[peticion_ayuda["Año"] > 2011]

"""En tercer lugar, añadimos una columna nueva llamada Incremento para reflejar el incremento porcentual respecto al año anterior."""

peticion_ayuda['Incremento'] = peticion_ayuda['Peticiones'].pct_change()*100

"""Por último, utilizamos el método describe para obtener las variables estadísticas."""

estadísticas_PA = peticion_ayuda['Peticiones'].describe()
estadísticas_PA2 = peticion_ayuda['Incremento'].describe()

#### **Comprobaciones realizadas**

1) Lectura del archivo xlsx

In [14]:
peticion_ayuda = pd.read_excel('peticiones_de_ayuda_al_telefono_de_anar_sobre_ideacion_suicida_e_intentos_de_suicidio_en_menores_de_edad.xlsx')
peticion_ayuda

     Año  Peticiones
0   2009         195
1   2010         270
2   2011         293
3   2012         298
4   2013         544
5   2014         547
6   2015        1006
7   2016        1598
8   2017        1640
9   2018        2038
10  2019        1899
11  2020        1920
12  2021        3665

2) Creación y aplicación del filtro que contabilice las peticiones a partir del año 2021

In [15]:
peticion_ayuda = peticion_ayuda[peticion_ayuda["Año"] > 2011]
peticion_ayuda

     Año  Peticiones
3   2012         298
4   2013         544
5   2014         547
6   2015        1006
7   2016        1598
8   2017        1640
9   2018        2038
10  2019        1899
11  2020        1920
12  2021        3665

3) Cálculo porcentaje de crecimiento anual

In [16]:
peticion_ayuda['Incremento'] = peticion_ayuda['Peticiones'].pct_change()*100
peticion_ayuda

C:\Users\beama\AppData\Local\Temp\ipykernel_11528\2031355933.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peticion_ayuda['Incremento'] = peticion_ayuda['Peticiones'].pct_change()*100

     Año  Peticiones  Incremento
3   2012         298         NaN
4   2013         544   82.550336
5   2014         547    0.551471
6   2015        1006   83.912249
7   2016        1598   58.846918
8   2017        1640    2.628285
9   2018        2038   24.268293
10  2019        1899   -6.820412
11  2020        1920    1.105845
12  2021        3665   90.885417

4) Cálculos estadísticos

In [17]:
estadísticas_PA = peticion_ayuda['Peticiones'].describe()
estadísticas_PA

count      10.000000
mean     1515.500000
std       991.634817
min       298.000000
25%       661.750000
50%      1619.000000
75%      1914.750000
max      3665.000000
Name: Peticiones, dtype: float64

In [18]:
estadísticas_PA2 = peticion_ayuda['Incremento'].describe()
estadísticas_PA2

count     9.000000
mean     37.547600
std      41.131564
min      -6.820412
25%       1.105845
50%      24.268293
75%      82.550336
max      90.885417
Name: Incremento, dtype: float64

# **Evolución del volumen de psicólogos en España**

#### **Obtención y transformación de datos**

In [19]:
"""En primer lugar, abrimos el archivo csv descargado de la página web de EPData
https://www.epdata.es/evolucion-numero-psicologos-espana/8a894136-0b07-4194-a1d4-c11eea309d53"""

psicologos = pd.read_csv('psicologos.csv', sep= ";")

"""En segundo lugar, hemos eliminado las columnas y celdas en las que aparecían datos que no resultaban de interés para el análisis."""

psicologos = psicologos.iloc[0:10, [0,2]]

"""En tercer lugar, añadimos una columna nueva llamada Incremento para reflejar el incremento porcentual respecto al año anterior."""

psicologos['Incremento'] = psicologos['Total'].pct_change()*100

"""Por último, utilizamos el método describe para obtener las variables estadísticas."""

estadísticas_PS = psicologos['Total'].describe()
estadísticas_PS2 = psicologos['Incremento'].describe()

#### **Comprobaciones realizadas**

1) Lectura del archivo csv

In [20]:
psicologos = pd.read_csv('psicologos.csv', sep= ";")
psicologos

                                                  Año Periodo   Total
0                                                2012     Año   7.131
1                                                2013     Año  12.404
2                                                2014     Año  28.707
3                                                2015     Año  26.879
4                                                2016     Año  25.094
5                                                2017     Año  25.857
6                                                2018     Año  32.516
7                                                2019     Año  33.188
8                                                2020     Año  34.827
9                                                2021     Año  37.611
10                                                NaN     NaN     NaN
11                                                NaN     NaN     NaN
12                                    Métrica:"Total"     NaN     NaN
13                                       Fuente:"INE"     NaN     NaN
14                                   Clasificación:""     NaN     NaN
15                                Unidad:"Psicólogos"     NaN     NaN
16                                  Escala:"Unidades"     NaN     NaN
17                         EscalaFactorPotencia10:"0"     NaN     NaN
18                           SonDatosNumericos:"True"     NaN     NaN
19                                                NaN     NaN     NaN
20                                                NaN     NaN     NaN
21  Url:"https://www.epdata.es/evolucion-numero-ps...     NaN     NaN
22  Titulo:"Evolución del número de psicólogos en ...     NaN     NaN
23                                       Subtitulo:""     NaN     NaN

2) Eliminación de columnas y celdas

In [21]:
psicologos = psicologos.iloc[0:10, [0,2]]
psicologos

    Año   Total
0  2012   7.131
1  2013  12.404
2  2014  28.707
3  2015  26.879
4  2016  25.094
5  2017  25.857
6  2018  32.516
7  2019  33.188
8  2020  34.827
9  2021  37.611

3) Cálculo porcentaje de crecimiento anual

In [22]:
psicologos['Incremento'] = psicologos['Total'].pct_change()*100
psicologos

    Año   Total  Incremento
0  2012   7.131         NaN
1  2013  12.404   73.944748
2  2014  28.707  131.433409
3  2015  26.879   -6.367785
4  2016  25.094   -6.640872
5  2017  25.857    3.040567
6  2018  32.516   25.753181
7  2019  33.188    2.066675
8  2020  34.827    4.938532
9  2021  37.611    7.993798

4) Cálculos estadísticos

In [23]:
estadísticas_PS = psicologos['Total'].describe()
estadísticas_PS

count    10.00000
mean     26.42140
std       9.74630
min       7.13100
25%      25.28475
50%      27.79300
75%      33.02000
max      37.61100
Name: Total, dtype: float64

In [24]:
estadísticas_PS2 = psicologos['Incremento'].describe()
estadísticas_PS2

count      9.000000
mean      26.240250
std       46.630586
min       -6.640872
25%        2.066675
50%        4.938532
75%       25.753181
max      131.433409
Name: Incremento, dtype: float64